extends layout

block content
  if (name == 'Onalee')
      h2
        |Hello this is our user's page for 
        strong= name

  else if (name == 'Don')
     h2
        |Hello this is our user's page for 
        strong= name

  else if (name == 'Matthew')
     |Hello this is our user's page for 
        strong= name